$font-family-sans-serif: 'Open Sans',
sans-serif;
$font-size-base: 1rem;
// $h1-font-size: 2.5rem;
$body-color: #8d8f92;
$btn-font-size: 2rem;
$btn-padding-x: 50px;
$btn-padding-y: 20px;
$btn-border-radius: 10px;
$h2-font-size: 36px;
$paragraph-margin-bottom: 2rem;